<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>NEBBIA zadanie Soltys</title>
    <meta name="keywords" content="" />
    <meta name="author" content="s.s.">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,400i,500,700&display=swap" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#FFFFFF" />

    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('vendor/font-awesome/css/all.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet" />

    <script type="text/javascript" src="{{ asset('vendor/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/scripts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/utilsJQuery.js') }}"></script>
</head>

<body>
{% block mainBody %}{% endblock %}
</body>
</html>
