{#----- dialogove okno na vymazanie zaznamu -----#}
<div class="modal fade" id="dialogEntryFlagDelete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialogEntryFlagDeleteTitle">Vymazanie záznamu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="dialogEntryFlagDeleteBody">
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-link">Nie</a>
                &nbsp;
                <button type="button" class="btn btn-outline-primary clickable" id="submitDeleteEntryFlag">Áno</button>
            </div>
        </div>
    </div>
</div>

{#----- dialogove okno na pridanie / editaciu zaznamu -----#}
<script>
    function entryFlagForm(idItem) {
        $("#dialogEntryFlagFormBody").html("");
        if (idItem === undefined) {
            // pridanie noveho zaznamu
            $("#dialogEntryFlagFormTitle").text("Nový záznam");
            APP.ajaxUtils.callUrlIntoElement("dialogEntryFlagFormBody", "{{ path('entryFlag_new') }}");
        } else {
            // editacia existujuceho zaznamu
            $("#dialogEntryFlagFormTitle").text("Editácia záznamu");
            let url = '{{ path('entryFlag_edit', {'id': '**PLACEHOLDER**'}) }}';
            url = url.replace("**PLACEHOLDER**", idItem);
            APP.ajaxUtils.callUrlIntoElement("dialogEntryFlagFormBody", url);
        }
        $('#dialogEntryFlagForm').modal('show');
    }
</script>

<div class="modal fade" id="dialogEntryFlagForm" tabindex="-1" role="dialog" aria-labelledby="dialogEntryFlagFormTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialogEntryFlagFormTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="dialogEntryFlagFormBody">
            </div>
        </div>
    </div>
</div>

{#----- zoznam zaznamov -----#}
<div style="display: flex; flex-direction: column; height: 100%;">
    <h2>Entry flags</h2>
    <div>
        Zoznam značiek (flags), ktorými je možné označiť rss záznamy iných používateľov.
    </div>
    <button type="button" onclick="entryFlagForm();" class="btn btn-outline-primary btn-sm my-2">
        <i class="fa fa-plus"></i>&nbsp;
        pridať flag
    </button>
    <div style="flex: 1 1 auto; overflow: auto;">
        {% if entryFlags|length == 0 %}
            <div class="text-center" style="padding: 30px 0 0 0;">
                - žiaden záznam -
            </div>
        {% else %}
            <script>
                function deleteEntryFlag(idItem) {
                    let html = "<b>Naozaj vymazať záznam?</b><br><br><i>" + $("#efName" + idItem).text() + "</i>";
                    $("#dialogEntryFlagDeleteBody").html(html);
                    $('#dialogEntryFlagDelete').modal('show');
                    $("#submitDeleteEntryFlag").click(function () {
                        let url = '{{ path('entryFlag_delete', {'id': '**PLACEHOLDER**'}) }}';
                        url = url.replace("**PLACEHOLDER**", idItem);
                        APP.ajaxUtils.callUrl(url);
                    });
                }
            </script>

            <div>
                {% for entryFlag in entryFlags %}
                    <div class="dataRow d-flex">
                        <div class="mr-auto">
                            <span id="efName{{ entryFlag.id }}" class="px-3" style="display: inline-block; color: #fff; background-color: {{ entryFlag.color }};">
                                {{ entryFlag.name }}
                            </span>
                        </div>

                        <a onclick="entryFlagForm('{{ entryFlag.id }}');" class="btn btn-outline-primary btn-sm clickable">
                            <i class="fa fa-pencil-alt"></i>
                        </a>
                        &nbsp;
                        <a onclick="deleteEntryFlag('{{ entryFlag.id }}');" class="btn btn-outline-primary btn-sm clickable ms-1">
                            <i class="fa fa-trash-alt"></i>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
